To do:

Create a csv file with columns InvoiceDt, stockCode, Description, Total sales

Perform imputation (if a product was not sold on a date then there must a zero in total sales)

Total sales ISN'T the quantity times the price, it is the total quantity of a product sold on a particular day.

Generate total sales for each day.

In [137]:
import pandas as pd
#delete trial, pqs, selected_rows, firstHalf, secondHalf, newTrial, grouped

In [138]:
origin = pd.ExcelFile("/home/shaihulud10191/codestuff/exercisePython/simplerName.xlsx")
firstHalf = origin.parse('Year 2009-2010') #parse first sheet 
secondHalf = origin.parse('Year 2010-2011') #parse second sheet

In [139]:
file = pd.concat([firstHalf, secondHalf]) #join the two dataframes together
file.replace({'Quantity': {'': pd.NA}, 'Price': {'': pd.NA}}, inplace=True)
file.dropna(subset=['Quantity', 'Price'], inplace=True)# drop rows with NaN values in columns A and B

In [140]:
pqs = file[['StockCode', 'Quantity', 'Price', 'InvoiceDate']]

In [141]:
pqs.insert(loc = 4, column = 'TotalSales', value = 0)
pqs.insert(loc = 5, column = 'Profit', value = 0)

In [142]:
trial = pqs

In [143]:
from datetime import datetime, timedelta #easier to work with datetime objects than to work with strings
trial['when'] = pd.to_datetime(trial['InvoiceDate'], format='%Y-%m-%d %H:%M:%S') #converting strings to datetime objects and assigning them to a column

/tmp/ipykernel_102144/2225062995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trial['when'] = pd.to_datetime(trial['InvoiceDate'], format='%Y-%m-%d %H:%M:%S') #converting strings to datetime objects and assigning them to a column

In [144]:
trial['date'] = trial['when'].dt.date
trial = trial[['StockCode', 'Quantity', 'Price', 'date', 'TotalSales', 'Profit', 'when', 'InvoiceDate']]
trial = trial[['StockCode', 'Quantity', 'Price', 'date', 'TotalSales', 'Profit']]

In [145]:
backup = pqs.copy()
backup

,StockCode,Quantity,Price,InvoiceDate,TotalSales,Profit,when,date
0,85048,12,6.95,2009-12-01 07:45:00,0,0,2009-12-01 07:45:00,2009-12-01
1,79323P,12,6.75,2009-12-01 07:45:00,0,0,2009-12-01 07:45:00,2009-12-01
2,79323W,12,6.75,2009-12-01 07:45:00,0,0,2009-12-01 07:45:00,2009-12-01
3,22041,48,2.10,2009-12-01 07:45:00,0,0,2009-12-01 07:45:00,2009-12-01
4,21232,24,1.25,2009-12-01 07:45:00,0,0,2009-12-01 07:45:00,2009-12-01
...,...,...,...,...,...,...,...,...
541905,22899,6,2.10,2011-12-09 12:50:00,0,0,2011-12-09 12:50:00,2011-12-09
541906,23254,4,4.15,2011-12-09 12:50:00,0,0,2011-12-09 12:50:00,2011-12-09
541907,23255,4,4.15,2011-12-09 12:50:00,0,0,2011-12-09 12:50:00,2011-12-09
541908,22138,3,4.95,2011-12-09 12:50:00,0,0,2011-12-09 12:50:00,2011-12-09
541909,POST,1,18.00,2011-12-09 12:50:00,0,0,2011-12-09 12:50:00,2011-12-09

In [146]:
outputMaybe = trial.groupby(['StockCode', 'date'])['Quantity'].sum()

In [154]:
final = outputMaybe.to_frame()

In [155]:
final.rename(columns={'Quantity': 'TotalSales'}, inplace = True)

In [156]:
final.sort_values('date', inplace = True)

In [173]:
finalFinal = pd.read_csv('/home/shaihulud10191/codestuff/exercisePython/yipp3.csv')

/tmp/ipykernel_102144/4080009192.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  finalFinal = pd.read_csv('/home/shaihulud10191/codestuff/exercisePython/yipp3.csv')

In [174]:
stage = file['Description']

0         15CM CHRISTMAS GLASS BALL 20 LIGHTS
1                          PINK CHERRY LIGHTS
2                         WHITE CHERRY LIGHTS
3                RECORD FRAME 7" SINGLE SIZE
4              STRAWBERRY CERAMIC TRINKET BOX
                         ...
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
541909                                POSTAGE
Name: Description, Length: 1067371, dtype: object